@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

:root {
	--primary: #3ee9e5;
	--secondary: #093f68;
	--grey: #777f98;
	--white: #fff;
	--bg: #080c20;
	--error: #ff2965;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

input,
select,
button {
	border: none;
	outline: none;
}

button {
	font: inherit;
	cursor: pointer;
	background: none;
}

input {
	font: inherit;
}

body {
	font-family: "Manrope", sans-serif;
	background-color: var(--bg);
	color: var(--white);
}

/* utilities */

.font-base {
	font-size: 15px;
	line-height: 25px;
}

.font-sm {
	font-size: 18px;
	line-height: 25px;
}

.font-md {
	font-size: 2rem;
	line-height: 44px;
}

.font-lg {
	font-size: 2.5rem;
	line-height: 55px;
}

.font-xl {
	font-size: 3rem;
	line-height: 56px;
}

.font-extrabold {
	font-weight: 800;
}

.text-primary {
	color: var(--primary);
}

.text-grey {
	color: var(--grey);
}

.text-bg {
	color: var(--bg);
}

.text-center {
	text-align: center;
}

/* clasess */

/* header start */
.header {
	padding-top: 2.5rem;
	padding-bottom: 4rem;
}

.header img {
	margin: 0 auto;
}

/* header end */

/* hero start */
.hero {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;
}

.hero__bg--mobile {
	background-image: url("./assets/illustration-hero-mobile.png");
	background-size: cover;
	min-height: 233px;
}

.hero__content {
	padding: 0 1.5rem;
	background-image: url("./assets/bg-hero-squiggle.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__description {
	margin: 1.75rem 0 2rem;
}

.hero__mouse {
	margin: 0 auto;
}

/* hero end */

/* features start */
.features {
	padding: 9rem 1.5rem;
}

.features__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3.5rem;
}

.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	text-align: center;
}

.features__item:nth-child(1) .features__item-img {
	padding: 22px 24px 22px 30px;
}

.features__item:nth-child(2) .features__item-img {
	padding: 1.75rem 2rem;
}

.features__item:nth-child(3) .features__item-img {
	padding: 27px 30px 26px;
}

.features__item:nth-child(4) .features__item-img {
	padding: 34px 21px 33px;
}

.features__item-img {
	width: 120px;
	height: 120px;
	border-radius: 3rem;
	background: var(--secondary);
}

.features__item-caption {
	margin-bottom: 0.75rem;
}
/* features end */

/* pricing start */
.pricing {
	padding: 0 1.5rem;
}

.pricing__title {
	margin-bottom: 1.75rem;
	font-size: 1.5rem;
	line-height: 2rem;
}

.pricing__description {
	margin-bottom: 5rem;
}

.pricing__card-container {
	display: flex;
	flex-direction: column;
	/* might be 4rem due to the position img */
	/* gap: 2rem; */
	gap: 4rem;
}

.pricing__card {
	background: var(--secondary);
	border-radius: 0.5rem;
	padding: 3rem 1.75rem 2rem;
	position: relative;
}

.pricing__card--primary {
	background: var(--primary);
	color: var(--bg);
}

.pricing__card--primary h3 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.pricing__card--secondary {
	background: var(--secondary);
}

.pricing__card--primary {
	padding-top: 3.75rem;
}

.pricing__card--primary li {
	list-style-image: url("./assets/icon-check-secondary.svg");
}

.pricing__card--secondary li {
	list-style-image: url("./assets/icon-check-primary.svg");
}

.pricing__card-header img {
	position: absolute;
	top: 0;
	left: 30px;
	transform: translateY(-50%);
}

.pricing__card-header h4 {
	margin-bottom: 1.25rem;
}

.pricing__card-header p {
	opacity: 0.6;
}

.pricing__card-body {
	margin-top: 1.5rem;
}

.pricing__card-body h3 {
	margin-bottom: 1.25rem;
}

.pricing__card-body li {
	/* list-style-image: url("./assets/icon-check-primary.svg"); */
	padding-left: 1rem;
	margin-left: 1rem;
}

.pricing__card-body li:not(:last-child) {
	margin-bottom: 0.75rem;
}
/* pricing end */

/* footer start */
.footer {
	padding: 9rem 1.5rem 10.25rem;
	background: url("./assets/bg-footer-squiggle.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.footer__title {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 2rem;
}

.footer__form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.footer__form input[type="text"],
.footer__form button {
	width: 100%;
	padding: 0.75rem 1rem;
	border-radius: 1.5rem;
}

.footer__form input[type="text"] {
	background: var(--secondary);
	border: 2px solid transparent;
	margin-bottom: 0.25rem;
}

.footer__form input[type="text"].danger {
	border-color: var(--error);
}

.footer__form button {
	background: var(--primary);
	color: var(--secondary);
	border: 2px solid var(--primary);
	transition: all 250ms ease-in;
}

.footer__form button:hover {
	background: transparent;
	color: var(--white);
}
/* footer end */

/* error msg start */
.form__error-msg {
	color: var(--error);
	font-size: 0.75rem;
	line-height: 25px;
}
/* error msg end */

/* media queries start */
@media (min-width: 768px) {
	.header {
		padding-top: 3rem;
		padding-left: 2.5rem;
		padding-bottom: 4.875rem;
	}

	.header img {
		margin: 0;
	}

	.hero {
		grid-template-columns: 1fr 3fr 1fr;
		gap: 10px;
		align-items: center;
	}

	.hero__bg--mobile {
		display: none;
	}

	.hero__content {
		grid-column: 2 / 3;
	}

	.hero__bg--desktop--left {
		background-image: url("./assets/illustration-hero-left.svg");
		background-position: right;
	}

	.hero__bg--desktop--right {
		background-image: url("./assets/illustration-hero-right.svg");
		background-position: left;
	}

	.hero__bg--desktop--left,
	.hero__bg--desktop--right {
		min-height: 356px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.hero__bg--desktop--right {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	.hero__content {
		padding: 0;
	}

	.features {
		padding-top: 109px;
	}

	.features__item {
		flex-direction: row;
		gap: 3.5rem;
		text-align: left;
		padding-left: 121px;
		padding-right: 74px;
	}

	.features__container {
		gap: 2.5rem;
		justify-items: center;
	}

	.features__item:nth-child(even) {
		padding-left: 74px;
		padding-right: 121px;
	}

	.pricing__description {
		max-width: 540px;
		margin-right: auto;
		margin-left: auto;
	}

	.pricing__card-container {
		align-items: center;
	}

	.pricing__card {
		max-width: 445px;
	}

	.footer {
		padding: 119px 0 105px;
	}

	.footer__form {
		max-width: 476px;
		margin: 0 auto;
		grid-template-columns: 1fr auto;
	}
}

@media (min-width: 1440px) {
	.header {
		padding-top: 81px;
		padding-left: 165px;
		padding-bottom: 114px;
	}

	.hero {
		grid-template-columns: 1.5fr 3fr 1.5fr;
		gap: 95px;
	}

	.hero__bg--desktop--left,
	.hero__bg--desktop--right {
		min-height: 459px;
		background-size: auto;
	}

	.hero__content h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.hero__description {
		max-width: 540px;
		margin-bottom: 4rem;
		margin-right: auto;
		margin-left: auto;
	}

	.features {
		padding: 202px 165px;
	}

	.features__container {
		grid-template-columns: repeat(4, 255px);
		justify-content: center;
	}

	.features__item {
		flex-direction: column;
		padding: 0;
		gap: 30px;
		align-items: start;
	}

	.features__item:nth-child(even) {
		padding-left: 0;
		padding-right: 0;
		margin-top: 3rem;
	}

	.pricing__description {
		margin: 0 auto 7.3125rem;
	}

	.pricing__card-container {
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
	}

	.footer {
		padding-top: 151px;
		padding-bottom: 117px;
	}

	.footer__title {
		font-size: 2rem;
		line-height: 2.75rem;
	}
}
